{% extends 'base.html' %}
{% block headline %}

<h1>Short Author Biography</h1>
<p>Hajime Isayama (諫山 創 Isayama Hajime?) is the author and illustrator of Attack on Titan.</p>
<p>Isayama was born on August 29, 1986 in Ōyama, Ōita, Japan. After graduating from Ōita Prefectural Hitarinkou High School, he matriculated in the cartoon design program of the cartoon arts department, Kyushu Designer Gakuin. After graduating, he moved to Tokyo and started drawing his manga works.</p>
    
<p>In 2006, he applied for the Magazine Grand Prix, also known as MGP, that is promoted by Kodansha Ltd., and his work, Attack on Titan, was given the Fine Work award. Originally, he offered his work to the Weekly Shōnen Jump department at Shueisha, where he was advised to modify his style and story to be more suitable for Weekly Shōnen Jump. He declined and decided to take it to the Weekly Shōnen Magazine department at Kodansha Ltd. instead.</p>
    
<p>In 2008, he applied for the 80th Weekly Shōnen Magazine Freshman Manga Award, where his work, Heart Break One, was given the Special Encouragement Award.</p>
    
<p>His other work, orz, was chosen as a selected work in the 81st Weekly Shōnen Magazine Freshman Manga Award.</p>
    
<p>In 2009, his first serial work, Attack on Titan, appeared in the Bessatsu Shōnen Magazine, a monthly magazine.</p>
    
<p>In 2011, Attack on Titan was awarded the 35th Kodansha Manga Award in the Shōnen category.</p>
    
<p>On December 31, 2018, Isayama revealed in his blog that he got married that year. He confirmed the rumors about Yamamoto Arisa being his spouse were false and also stated that he would continue to draw manga in 2019.</p>

{% endblock %}