{% extends 'base.html' %}
{% block headline %}

<h1>WIKI HOMEPAGE</h1>
<p>This is a home-made fan wiki dedicated to <b>Attack on Titan</b>(進撃の巨人 Shingeki no Kyojin)</p>
<p>Attack on Titan is originally created by <a href='/author'>Hajime Isayama</a> and has had its anime adaptation which originally aired sometime in 2013.</p>
<p>Take your pick on a certain rank</p>


<ul>
    <li><a href='/Survey_Corps/Members'>Squad Members</a></li>
    <li><a href='/Survey_Corps/Officers'>Officers</a></li>
    <li><a href='/Survey_Corps/Commanders'>Commanders</a></li>

</ul>

{% endblock %}