<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Shingeki no Kyojin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">Admins</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://attackontitan.fandom.com/wiki/Attack_on_Titan_Wiki" target="_blank">Source</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/author">Author</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Frequently Visited Pages
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/Survey_Corps/Members">List of Squad Members</a></li>
              <li><a class="dropdown-item" href="/Survey_Corps/Officers">List of Officers</a></li>
              <li><a class="dropdown-item" href="/Survey_Corps/Commanders">List of Commanders</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="https://www.youtube.com/watch?v=bma3Clsd81U" target="_blank">Shingeki no Kyojin Season 4 Part 2 Soundtrack [External Link]</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>